:root {
  --app-layout-header: 50px;
  --app-layout-main: calc(100vh - var(--app-layout-header) - var(--app-layout-footer));
  --app-layout-footer: 30px;
}

html.dark {
  img {
    filter: brightness(0.8) saturate(1.25);
  }
}
html,body,#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  width: 100%;
}
*:focus {
  outline: none;
}
.el-menu-item:not(:hover):focus {
  background-color: transparent!important;
}